<div class="row">
    <div class="col-md-12 ">
        <div class="card">
            <div class="card-body">
                <div class="top-side">
                    <img src="../../../assets/img/WhatsApp Image 2019-04-19 at 2.13.30 AM.jpeg" class="img-thumbnail">
                </div>
                <div class="row"></div>
                <div class="bot-side">
                    <div class="data">
                        <h4>Tarek Mahmoud Fathy</h4>
                        <h5>Founder</h5>
                        <span>ELectrical engineer graduated from ain shams university || web developer at
                            Forstio</span>
                    </div>
                </div>
                <div class="visit-profile">
                    <button class="btn">View Profile</button>
                </div>
            </div>
        </div>
    </div>
</div>