<div class="row">
    <div class="col-md-12 ">
        <div class="card">
            <div class="card-body">
                <div class="top-side">
                    <img src="{{crewmate.image}}" class="img-thumbnail">
                </div>
                <div class="row separating-row"></div>
                <br>
                <div class="bot-side">
                    <div class="data">
                        <h4>{{crewmate.name}}</h4>
                        <h5>{{crewmate.title}}</h5>
                        <p [innerHTML]="crewmate.bio"></p>
                    </div>
                </div>
                <div class="visit-profile">
                    <button class="btn">View Profile</button>
                </div>
            </div>
        </div>
    </div>
</div>