


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h4>Contact Us</h4>
                </div>
                <div class="card-body">
                    <form [formGroup]="ContactUs" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label for="name"><i class="fas fa-user">&nbsp;</i>Name:</label>
                            <input type="name" id="name" class="form-control" placeholder="Name" formControlName="name">
                        </div>
                        <div class="form-group">
                            <label for="email"><i class="far fa-envelope">&nbsp;</i>E-mail:</label>
                            <input type="email" id="email" class="form-control" placeholder="E-mail"
                                formControlName="email">
                        </div>
                        <div class="form-group">
                            <label for="mobile"><i class="fas fa-mobile">&nbsp;</i>Mobile:</label>
                            <input type="mobile" id="mobile" class="form-control" placeholder="mobile"
                                formControlName="phone">
                        </div>
                        <div class="form-group">
                            <label for="msg"><i class="far fa-sticky-note">&nbsp;</i>Message:</label>
                            <textarea id="msg" cols="30" rows="5" class="form-control" placeholder="Message"
                                formControlName="message"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn"><i class="fas fa-check-square">&nbsp;</i>Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>