<div class="container">       
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h4>Contact Us</h4>
                </div>
                <div class="card-body">
                    <form action="">
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="name" id="name" class="form-control" placeholder="Name">
                        </div>
                    </form>
                    <div class="form-group">
                        <label for="email">E-mail:</label>
                        <input type="email" id="email" class="form-control" placeholder="E-mail">
                    </div>
                    <div class="form-group">
                        <label for="mobile">Mobile:</label>
                        <input type="mobile" id="mobile" class="form-control" placeholder="Mobile">
                    </div>
                    <div class="form-group">
                        <label for="msg">Message:</label>
                        <textarea  id="msg" cols="30" rows="5" class="form-control" placeholder="Message"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <!-- Information of our company -->
        </div>
    </div>
</div>