
  <!-- ADD PROJECT MODAL -->
<div class="modal-body">
           <section id="explore-section" class="bg-light text-muted pt-5">
      <div class="container">
      <div class="row">

        <div class="col-md-4">
          <img src="/../../assets/img/mountains.jpg"  alt="" class="img-fluid mb-3 rounded-circle">
        </div>

        <div class="col-md-8">
          <div class="row">
            <div class="col-md-8">
              <h3 class="text-center">Title of project</h3>
            </div>
            <a href="" class="btn mb-3" >
              <i class="fas fa-arrow-right"></i> View demo
            </a>
          </div>

          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore reiciendis, voluptate at alias laborum odit aliquid
            tempore perspiciatis repudiandae hic?</p>
         <br>
    <!--PROJECT ICON SECTION  -->
    <div class="container">
      <div class="row">
 <p class="col-md-12 text-center text-muted lead">Technology </p>
        <div class="col-md-2 mb-4 text-center">
          <i class="fas fa-cog fa-3x mb-2"></i>
          <h5 class="lead">Sending Data</h5> 
        </div>

        <div class="col-md-2 mb-4 text-center">
          <i class="fas fa-cloud fa-3x mb-2"></i>
          <h5 class="lead">Sending Data</h5>
        </div>

        <div class="col-md-2 mb-4 text-center">
          <i class="fas fa-cart-plus fa-3x mb-2"></i>
          <h5 class="lead">Sending Data</h5>
        </div>

        <div class="col-md-2 mb-4 text-center">
          <i class="fas fa-cart-plus fa-3x mb-2"></i>
          <h5 class="lead">Sending Data</h5>
        </div>

        <div class="col-md-2 mb-4 text-center">
          <i class="fas fa-cart-plus fa-3x mb-2"></i>
          <h5 class="lead">Sending Data</h5>
        </div>

        <div class="col-md-2 mb-4 text-center">
          <i class="fas fa-cart-plus fa-3x mb-2"></i>
          <h5 class="lead">Sending Data</h5>
        </div>

      </div>
    </div>

        </div>
      </div>
    </div>
  </section>


 <!-- PHOTO GALLERY -->
  <section id="gallery" class="py-2">
    <div class="container">
      <h1 class="text-center">Web Gallery</h1>
      <div class="row mb-4">
        <div class="col-md-4">
          <a href="https://source.unsplash.com/random/560x560" data-toggle="lightbox" data-gallery="img-gallery" data-height="560"
            data-width="560">
            <img src ="/../../assets/img/mountains.jpg"  alt="" class="img-fluid">
          </a>
        </div>

        <div class="col-md-4">
          <a href="https://source.unsplash.com/random/561x561" data-toggle="lightbox" data-gallery="img-gallery" data-height="561"
            data-width="561">
            <img src ="/../../assets/img/mountains.jpg"  alt="" class="img-fluid">
          </a>
        </div>

        <div class="col-md-4">
          <a href="https://source.unsplash.com/random/562x562" data-toggle="lightbox" data-gallery="img-gallery" data-height="562"
            data-width="562">
            <img src ="/../../assets/img/mountains.jpg"  alt="" class="img-fluid">
          </a>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-md-4">
          <a href="https://source.unsplash.com/random/563x563" data-toggle="lightbox" data-gallery="img-gallery" data-height="563"
            data-width="563">
            <img src ="/../../assets/img/mountains.jpg"  alt="" class="img-fluid">
          </a>
        </div>

        <div class="col-md-4">
          <a href="https://source.unsplash.com/random/564x564" data-toggle="lightbox" data-gallery="img-gallery" data-height="564"
            data-width="564">
            <img src ="../../../assets/img/mountains.jpg" alt="" class="img-fluid">
          </a>
        </div>

        <div class="col-md-4">
          <a href="https://source.unsplash.com/random/565x565" data-toggle="lightbox" data-gallery="img-gallery" data-height="565"
            data-width="565">
            <img src ="../../../assets/img/mountains.jpg" alt="" class="img-fluid">
          </a>
        </div>
      </div>
    </div>
  </section>
        </div>

