<div class="container">
    <!-- made the counter make only the odd numbers to and used ng container to put the condition it doesn't affect on the style  -->
    <div class="row justify-content-center" *ngFor="let crewmate of crew;let i=index">
        <ng-container *ngIf="i%2 == 0">
        <div class="col-md-4" >
            <app-personal-card [crewmate]=crew[i] ></app-personal-card>
        </div>
        <div class=" col-md-4 offset-md-1" *ngIf="crewmate!=null">
            <app-personal-card [crewmate]=crew[i+1]></app-personal-card>
        </div>
    </ng-container>
    </div>
</div>