<main class="fullHeight">

  <header id="crew-header" class="">
    <div class="container primary-overlay">
      <div class="row">
        <div class="col col-md-12 mb-5"></div>
        <div class=" col-md-12  text-center lead mb-5">
          <h1 class="d-inline-block text-center">Our Crew</h1>
        </div>
      </div>
    </div>
  </header>


  <div class="container">
    <!-- <ngx-spinner
      bdColor="rgba(255,255,255,0.8)"
      size="medium"
      color="#732673"
      type="square-jelly-box"
      >
      <p style="font-size: 20px; color: #732673">Loading...</p>
    </ngx-spinner> -->
    <!-- made the counter make only the odd numbers to and used ng container to put the condition it doesn't affect on the style  -->

    <div class="row justify-content-center" *ngFor="let crewmate of crew;let i=index">
      <ng-container *ngIf="i%2 == 0">
        <div class="col-md-4">
          <app-personal-card [crewmate]=crew[i]></app-personal-card>
        </div>
        <div class=" col-md-4 offset-md-1" *ngIf="crewmate!=null">
          <app-personal-card [crewmate]=crew[i+1]></app-personal-card>
        </div>
      </ng-container>
    </div>
  </div>
</main>