<main class="fullHeight">

  <!-- PAGE HEADER -->
  <header id="page-header" class="">
    <div class="container primary-overlay">
      <div class="row">
        <div class="col col-md-12 mb-5"></div>
        <div class=" col-md-12  text-center lead mb-5">
          <h1 class="d-inline-block text-center">Our Projects</h1>
        </div>
      </div>
    </div>
  </header>


  <!-- projects section -->
  <section id="project" class="py-3 text-dark bg-white ">
    <div class="container">
      <div class="row">

        <div class="col-md-4 mb-4" *ngFor="let project of projects">

          <div class="card">
            <img src="/../../assets/img/mountains.jpg" alt="" class="img-fluid card-img-top">
            <div class="card-body">
              <h4 class="card-title"> {{ project.title }} </h4>
              <small class="text-muted"> {{ project.type }} </small>
              <a class="btn btn-primary text-white ml-5" (click)="onClick(project._id) ;">
                <i class="fas fa-arrow-right"></i> View more
              </a>
              <hr>
              <p class="card-text text-dark">{{ project.description }}
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>

  </section>
<app-project-details-modal></app-project-details-modal>

<ngx-spinner
bdColor="rgba(0,0,0,0)"
size="medium"
color="#732673"
type="square-jelly-box"
>
<p style="font-size: 20px; color: #732673">Loading...</p>
</ngx-spinner>

</main>