<!-- PAGE HEADER -->
<header id="page-header" class="">
  <div class="container primary-overlay">
    <div class="row">
      <div class="col col-md-12 mb-5"></div>
      <div class=" col-md-12  text-center lead mb-5">
        <h1 class="d-inline-block text-center">Our Projects</h1>
      </div>
    </div>
  </div>
</header>


<!-- projects section -->
<section id="project" class="py-3 text-dark bg-white ">
  <div class="container"> 
    <div class="row">
      <div class="col-md-12" >
        <div class="card-columns" >


          <div class="card" *ngFor="let project of projects">
            <div class="card" >
            <img src ="/../../assets/img/mountains.jpg" alt=""
             class="img-fluid card-img-top">
            <div class="card-body">
              <div class="card-title">
                <h4 > {{ project.title }} </h4>
              </div>
              <small class="text-muted">{{ project.type }} </small>
             
              <a class="btn ml-5" (click)="open(mymodal)">
                <i class="fas fa-arrow-right"></i> View more
              </a>
              <hr>
              <p class="card-text text-dark">{{ project.description }}
              </p>

            </div>
          </div>
</div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- <app-project-details></app-project-details> -->


<ng-template #mymodal let-modal class="py-3">
  <div class="modal-content">
    <div class="modal-header bg-primary text-white">
      <h5 class="modal-title">Project Title</h5>
      <button class="close" data-dismiss="modal" (click)="modal.dismiss('Cross click')">
        <span>&times;</span>
      </button>
    </div>
 

<app-project-details></app-project-details>


<div class="modal-footer">
  <button href="" class="btn mb-3" (click)="modal.dismiss('Cross click')" style="background-color:#732673 ;"> Close
  </button>

</div>

</div>

</ng-template>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
crossorigin="anonymous">