#page-header {
  background: url(/../../assets/img/mountains.jpg);
  min-height: 120px;
}
#page-header .primary-overlay {
  background: rgba(255, 250, 250, 0.1);
  width: 100%;
  min-height: 120px;
}

#page-header .lead {
  color: #732673;
}

a {
  color: #732673 !important;
  background-color: #fff;
  border: 1px solid #732673;
}
a:hover {
  color: #fff !important;
  background-color: #732673;
}

.bg-primary {
  background-color: #732673 !important;
}
.btn,
.close > span {
  color: white;
  outline: white;
}
.close{
  outline: none;
}