<main class="fullHeight">

  <!-- PAGE HEADER -->
  <header id="page-header" class="">
    <div class="container primary-overlay">
      <div class="row">
        <div class="col col-md-12 mb-5"></div>
        <div class=" col-md-12  text-center lead mb-5">
          <h1 class="d-inline-block text-center">Our Projects</h1>
        </div>
      </div>
    </div>
  </header>


  <!-- projects section -->
  <section id="project" class="py-3 text-dark bg-white ">
    <div class="container">
      <div class="row">

        <div class="col-md-4 mb-4" *ngFor="let project of projects">

          <div class="card">
            <img src="/../../assets/img/mountains.jpg" alt="" class="img-fluid card-img-top">
            <div class="card-body">
              <h4 class="card-title"> {{ project.title }} </h4>
              <small class="text-muted"> {{ project.type }} </small>
              <a class="btn btn-primary text-white ml-5" (click)="open(mymodal) ; onClick(project._id) ;">
                <i class="fas fa-arrow-right"></i> View more
              </a>
              <hr>
              <p class="card-text text-dark">{{ project.description }}
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>

  </section>

<!-- the modal of project -->
<ng-template  let-modal #mymodal class="py-3">
  <div *ngIf="project_details" class="modal-content">

    <div class="modal-header bg-primary text-white">
      <h2> {{ project_details.title }} </h2>
      <button class="close" data-dismiss="modal" (click)=" modal.dismiss('Cross click')">
        <span>&times;</span>
      </button>

    </div>
    
<!-- the body of Modal -->
<app-project-details-modal
[project_details] ='project_details'
>
</app-project-details-modal>

<div class="modal-footer">
  <button href="" class="btn mb-3" (click)="modal.dismiss('Cross click')" style="background-color:#732673 ;">
    Close
  </button>
</div>

</div>
</ng-template>

</main>