#HomeHeader {
    position: relative;
    background: url("../../../assets/img/mountains.jpg");
    min-height: 400px; }
    #HomeHeader .primary-overlay {
      background: rgba(255 , 250 , 250, 0.4);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      min-height: 400px; 
    }

  #HomeHeader .lead {
  color: #732673;
    }

   #HomeHeader .btn-primary{
    color: #732673;
    border-color:#732673;
    background-color: #732673;
   }
  
  .info-header {
    width: 50%;
    margin: auto;
    border-bottom: 1px #ddd solid;
 }
  