<!-- HomeHeader -->
<!-- edit primary classes on bootstrap to purple color -->

<section id="HomeHeader" class="py-5">
  <div class="primary-overlay text-white">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 text-center">

        </div>
        <div class="col-lg-8 text-center">
          <h1 class="display-1 mt-3 pt-3 lead">
            ForSito
          </h1>
          <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, tempora! Lorem ipsum dolor sit
            amet consectetur adipisicing elit. Nam, tempora!Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Nam, tempora!Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, tempora!</p>
          <a routerLink="/contact-us">
            <button class="btn  btn-lg " >
            <i class="fas fa-arrow-right"></i>&nbsp; Contact US
          </button>
        </a>
        </div>
      </div>
    </div>
  </div>
</section>